@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    /*background-color: #35BF5C;*/
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: "Roboto Mono";
    color: #fff;
    margin-bottom: .25em;
    background: linear-gradient(to left, #a24675 15%, #bc655c 30%, #ebbe52 45%, #6e5a8d 60%, #3c7bac 75%, #4a9a82 90%, #a24675);
    background-size: 180% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:shine 3s alternate infinite;
    display: flex;
    flex-direction:row;
    width:100px;
}

#clock div {
    margin: 0 auto;
    width:25px;
    height:150px;
    border-color: transparent;

}
#clock div div{
    border: 1px solid transparent;
    margin-bottom:2px;
    width:23px;
    height:23px;

}

#clock div div.true{
    background-color: white;
}
#clock div div.false{
    background-color: transparent;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #121112;
    border: solid 0px #121112;
    font-family: "Roboto Mono";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #121112;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
}

.cat-container {
    width: 30%;
    background-color: #121112;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
}

.inline {
    display: inline-block;
}

.inline-icon {
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }

    #clock {
        margin-top: 1em;
    }

    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }

    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set {
    padding: 1em;
    background-color: #121112;
    border-radius: 3px;
    font-family: "Roboto Mono", serif;
    font-size: .85rem;
    width: 25%;
    height: auto;
    margin: 0em .5em;
}

.bookmark-inner-container {
    overflow-y: scroll;
    height: 95%;
    vertical-align: top;
    overflow-x: hidden;
}

.bookmark-inner-container::-webkit-scrollbar {
    display: none;
}

.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}

.bookmark {
    text-decoration: none;
    color: #8c8c8b;
    display: block;
    margin: .5em 0em;
}

.bookmark:hover {
    color: #fff;
}

.subfolderWrapper {
    margin-left: 10px;
}

.bookmarkWrapper p {
    color: #fff;
}

@keyframes shine {
    to {
        background-position: 180% center
    }
}
